@font-face {
    font-family: CeraProLight;
    src: url("./Ressources/Fonts/Cera\ Pro\ Light.otf");
}

@font-face {
    font-family: CeraProBlack;
    src: url("./Ressources/Fonts/Cera\ Pro\ Black.otf");
}

@font-face {
    font-family: CeraProBlackItalic;
    src: url("./Ressources/Fonts/Cera\ Pro\ Black\ Italic.otf");
}

@font-face {
    font-family: CeraProRegularItalic;
    src: url("./Ressources/Fonts/Cera\ Pro\ Regular\ Italic.otf");
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: CeraProBlack;
    background: black;
}

a,
i
{
    color: white;
    text-decoration: none;
}

.nav
{
    height: 75px;
    width: 100%;
    background: black;
    position: fixed;
    top: 0;
    z-index: 10;
}

/* --- MENU MOBILE --- */

.menu1
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    width: 100%;
    background: black;
    position: fixed;
    z-index: 11;
    padding: 10px;
    transform: translateY(-100%);
    transition: 1s;
}

.menu1.isOpen
{
    transform: translateY(0%);
}

.menu1 .navigation
{
    display: flex;
    flex-direction: column;
    font-size: 40px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    height: 15%;
    width: 100%;
    margin-bottom: 30px;
    padding: 30px 0;
}

.menu1 .navigation .radio
{
    margin-bottom: 30px;
}

.menu1 .button
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid white;
}

.menu1 button
{
    color: black;
    background: white;
    border: 1px solid white;
    padding: 5px 10px;
    font-family: CeraProBlack;
    font-size: 30px;
}

.menu1 .others
{
    display: flex;
    flex-direction: column;
    font-size: 40px;
    border-bottom: 1px solid white;
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.menu1 .others .shop
{
    margin-bottom: 30px;
}

.menu1 .account
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid white;
}

.menu1 .account img
{
    margin: 0 5px;
}

.menu1 .download-apps
{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    border-bottom: 1px solid white;
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.menu1 .download-apps .ios
{
    margin-bottom: 25px;
}

.menu1 .download-apps i 
{
    width: 20px;
    margin-right: 10px;
}

.menu1 .social-icons
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid white;
}

.contain
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu1 .menu-btn
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17px;
    width: 35px;
    margin: 0 7px 7px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 10px;
    top: 7px;
    right: 7px;
}

.menu1 .menu-btn .circle
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17px;
    width: 17px;
    border: 1px solid white;
    border-radius: 10px;
}

.menu1 .menu-btn .eye
{
    height: 7px;
    width: 7px;
    background: white;
    border-radius: 10px;
}

/* --- NAV TOP --- */

.nav .navtop
{
    height: 43px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .navtop .left
{
    height: 43px;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav .navtop .left ul,
.nav .navtop .right ul
{
    display: flex;
    color: white;
    list-style: none;
}

.nav .navtop .left ul li,
.nav .navtop .right ul li
{
    margin: 0 15px;
}

.nav .navtop .left ul li:hover,
.nav .navtop .right ul li:hover
{
    color: grey;
    cursor: pointer;
}

.nav .navtop .right ul .account
{
    display: flex;
    align-items: center;
}

.nav .navtop .right ul .account img
{
    margin-right: 10px;
    padding-bottom: 3px;

}

.nav .navtop .left button
{
    color: black;
    height: 27px;
    background: white;
    border: 1px solid white;
    padding: 0 10px;
    font-family: CeraProBlack;
    font-size: 16px;
}

.nav .navtop .left .menu-btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17px;
    width: 35px;
    margin-right: 7px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 10px;
    visibility: hidden;
}

.nav .navtop .left .menu-btn .circle
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17px;
    width: 17px;
    border: 1px solid white;
    border-radius: 10px;
}

.nav .navtop .left .menu-btn .eye
{
    height: 7px;
    width: 7px;
    background: white;
    border-radius: 10px;
}

.nav .navtop .right
{
    height: 43px;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* --- NAV BOTTOM --- */

.nav .navbottom
{
    height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid white;
}

.nav .navbottom .playerleft,
.nav .navbottom .playerright
{
    height: 32px;
    width: 50%;
    display: flex;
    align-items: center;
}

.nav .navbottom .playerleft .live,
.nav .navbottom .playerright .live
{
    min-width: 80px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: white;
}

.nav .navbottom .playerleft .live .pointlive,
.nav .navbottom .playerright .live .pointlive
{
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: red;
    animation: clignote 2s ease-in-out infinite;
    opacity: 0;
}

@keyframes clignote {

    0%{
        opacity: 1;
    }

    50%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
    
}

.nav .navbottom .playerleft .player,
.nav .navbottom .playerright .player
{
    display: flex;
    align-items: center;
    width: 100%;
}

.nav .navbottom .playerleft .player .metas,
.nav .navbottom .playerright .player .metas
{
    display: flex;
    width: 100%;
    color: white;
    overflow: hidden;
    white-space: nowrap;
}

.nav .navbottom .playerleft .player .metas .now,
.nav .navbottom .playerright .player .metas .now
{
    font-family: CeraProRegularItalic;
}

.nav .navbottom .playerleft .player .metas .artist,
.nav .navbottom .playerright .player .metas .artist,
.nav .navbottom .playerleft .player .metas .music,
.nav .navbottom .playerright .player .metas .music
{
    width: 45%;
    display: flex;
}

/* .nav .navbottom .playerleft .player .metas .artist span,
.nav .navbottom .playerright .player .metas .artist span,
.nav .navbottom .playerleft .player .metas .music span,
.nav .navbottom .playerright .player .metas .music span
{
    white-space: nowrap;
    animation: scroll-txt 10s linear infinite
}

@keyframes scroll-txt {
    0%{
        transform: translate(0, 0);
    }

    100%{
        transform: translate(-100%, 0);
    }
} */

.nav .navbottom .separation
{
    height: 36px;
    width: 2px;
    background: black;
}

.bouton
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 5px;
    cursor: pointer;
}

.controls
{
    color: white;
    width: 30px;
}

/* --- CAROUSSEL --- */

.blockcaroussel
{
    position: sticky;
    top: 0;
}

.caroussel
{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.caroussel .containimg1
{
    position: absolute;
    animation: caroussel 15s ease-in-out infinite;
    z-index: 3;
}

@keyframes caroussel {
    0%{
        transform: translateX(0%);
    }

    20%{
        transform: translateX(0%);
    }

    30%{
        transform: translateX(-100%);
    }

    90%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(0%);
    }  
}

.caroussel .containimg2
{
    position: absolute;
    z-index: 2;
    animation: carousseltwo 15s ease-in-out infinite;
}

@keyframes carousseltwo {
    0%{
        transform: translateX(0%);
    }

    50%{
        transform: translateX(0%);
    }

    60%{
        transform: translateX(100%);
    }

    89%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(0%);
    }  
}

.caroussel .containimg3
{
    position: absolute;
    z-index: 1;
}

.caroussel .img1
{
    position: relative;
    min-width: 100vw;
    height: 100vh;
    background-image: url("./Ressources/Images/AdobeStock_302299920.jpeg");
    background-size: cover;
}

.caroussel .img2
{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('./Ressources/Images/AdobeStock_281326976.jpeg');
    background-size: cover;
}

.caroussel .img3
{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("./Ressources/Images/AdobeStock_224762785.jpeg");
    background-size: cover;
}

.caroussel .txt1
{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    position: absolute;
    background: black;
    bottom: 110px;
    left: 20px;
}

.caroussel .txt2
{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    position: absolute;
    background: black;
    bottom: 65px;
    left: 20px;
}


.caroussel .txt3
{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    position: absolute;
    background: black;
    bottom: 20px;
    left: 20px;
}

.caroussel .txt1 span,
.caroussel .txt2 span,
.caroussel .txt3 span
{
    color: white;
    font-size: 25px;
}

/* --- MIXTAPES --- */

.mixtapes
{
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background: rgb(0, 0, 0);
    min-height: 100vh;
}

.mixtapes .title
{
    font-size: 60px;
    color: black;
    margin: 50px;
    -webkit-text-stroke: 1px white;
}

.mixtapes .all
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}

.mixtapes .all .card
{
    margin: 10px 10px;
    padding: 7px;
    border: 1px solid rgba(116, 116, 116, 0.616);
}

.mixtapes .all .card .cardimg
{
    position: relative;
    width: 310px;
}

.mixtapes .all .card .cardimg .blockplay
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background: black;
    bottom: 0;
    left: 0;
}

.mixtapes .all .card .cardimg .blockplay img
{
    width: 50px;
    cursor: pointer;
}

.mixtapes .all .card .metas
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    height: 100px;
    width: 100%;
    padding: 5px 5px 20px 5px;
}

.mixtapes .all .card .metas .infos
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.mixtapes .all .card .name
{
    border: 1px solid grey;
    padding: 5px;
    min-width: 130px;
    color: white;
    text-align: center;
}

/* --- LATEST --- */

.latest
{
    position: relative;
    z-index: 4;
    background: black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
}

.latest .block
{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.latest .subscribe-banniere
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 95%;
    background-image: url("./Ressources/Images/AdobeStock_139459150.jpeg");
    background-size: cover;
    background-position: 0, 0;
    border: 2px solid white;
}

.latest .subscribe-banniere .title
{
    color: white;
    font-size: 70px;
    text-align: center;
}


.latest .subscribe-banniere .paragraphe
{
    width: 80%;
    color: white;
    text-align: center;
    font-size: 30px;
}

.latest .subscribe-banniere .paragraphe b
{
    font-size: 50px;
}

.latest .subscribe-banniere button
{
    color: black;
    height: 60px;
    background: white;
    border: 1px solid white;
    padding: 0 10px;
    font-family: CeraProBlack;
    font-size: 30px;
}


/* --- RESPONSIVE --- */

@media (max-width: 1000px)  {

    .nav
    {
        height: 108px;
    }

    .nav .navtop .left button
    {
        min-width: 118px;
    }

    .nav .navbottom
    {
        flex-direction: column;
        height: 65px;
    }

    .nav .navbottom .playerleft,
    .nav .navbottom .playerright
    {
        width: 100%;
    }
    
    .nav .navbottom .playerright
    {
        border-top: 1px solid white;
        height: 33px;
    }
}

@media (max-width: 700px) {

    .nav .navtop .left
    {
        min-width: 100%;
        justify-content: space-between;
    }

    .nav .navtop .left .menu-btn
    {
        visibility: visible;
    }

    .nav .navtop .left ul,
    .nav .navtop .right ul
    {
        display: none;
    }

    .latest .subscribe-banniere .block .title
    {
        font-size: 50px;
    }
}

@media (max-width: 525px) {
    .latest .subscribe-banniere .block .title
    {
        font-size: 40px;
    }

    .latest .subscribe-banniere .block .paragraphe
    {
        font-size: 20px;
    }
}

@media (max-width: 450px) {

    .latest .subscribe-banniere .block .title
    {
        font-size: 30px;
    }

    .latest .subscribe-banniere .block button
    {
        font-size: 20px;
    }
}